

<section id="skills">
    <div class="container">
        <MudCard Elevation="3">
            <MudCardContent>
                <MudText Typo="Typo.h5" Class="my-4 fw-bold">Skills </MudText>

                <p style="font-size: 20px; margin-bottom: 10px ; margin-left: 10px;"><img src="/images/microsoftlogo.png" style="object-fit: contain; margin-right: 7px; margin-bottom: 3px;" width="25" />Microsoft Tech Stack</p>

                <div class="row" style="padding: 10px;">
                    <MudChip T="string" Icon="@Icons.Material.Filled.Check" IconColor="Color.Success" Style="background-color:#2C3639; color: white; ">C#</MudChip>
                    <MudChip T="string" Icon="@Icons.Material.Filled.Check" IconColor="Color.Success" Style="background-color:#2C3639; color: white; ">Blazor</MudChip>

                    <MudChip T="string" Icon="@Icons.Material.Filled.Check" IconColor="Color.Success" Style="background-color:#2C3639; color: white; ">ASP.NET</MudChip>
                    <MudChip T="string" Icon="@Icons.Material.Filled.Check" IconColor="Color.Success" Style="background-color:#2C3639; color: white; ">Front-End</MudChip>
                    <MudChip T="string" Icon="@Icons.Material.Filled.Check" IconColor="Color.Success" Style="background-color:#2C3639; color: white; ">HTML</MudChip>
                    <MudChip T="string" Icon="@Icons.Material.Filled.Check" IconColor="Color.Success" Style="background-color:#2C3639; color: white; ">CSS</MudChip>
                    <MudChip T="string" Icon="@Icons.Material.Filled.Check" IconColor="Color.Success" Style="background-color:#2C3639; color: white; ">Bootstrap</MudChip>
                    <MudChip T="string" Icon="@Icons.Material.Filled.Check" IconColor="Color.Success" Style="background-color:#2C3639; color: white; ">Back-End</MudChip>
                    <MudChip T="string" Icon="@Icons.Material.Filled.Check" IconColor="Color.Success" Style="background-color:#2C3639; color: white; ">Blazor Hybrid</MudChip>
                    <MudChip T="string" Icon="@Icons.Material.Filled.Check" IconColor="Color.Success" Style="background-color:#2C3639; color: white; ">Web Development</MudChip>
                    <MudChip T="string" Icon="@Icons.Material.Filled.Check" IconColor="Color.Success" Style="background-color:#2C3639; color: white; ">.Net Core</MudChip>
                    <MudChip T="string" Icon="@Icons.Material.Filled.Check" IconColor="Color.Success" Style="background-color:#2C3639; color: white; ">Entity Framework Core</MudChip>
                    <MudChip T="string" Icon="@Icons.Material.Filled.Check" IconColor="Color.Success" Style="background-color:#2C3639; color: white; ">Azure DevOps</MudChip>
                    <MudChip T="string" Icon="@Icons.Material.Filled.Check" IconColor="Color.Success" Style="background-color:#2C3639; color: white; ">Azure Pipeline CI/CD</MudChip>

                    <MudChip T="string" Icon="@Icons.Material.Filled.Check" IconColor="Color.Success" Style="background-color:#2C3639; color: white; ">SQL Server</MudChip>
                    <MudChip T="string" Icon="@Icons.Material.Filled.Check" IconColor="Color.Success" Style="background-color:#2C3639; color: white; ">Mobile MAUI Development</MudChip>
                    <MudChip T="string" Icon="@Icons.Material.Filled.Check" IconColor="Color.Success" Style="background-color:#2C3639; color: white; ">Blazor Native MAUI Development</MudChip>

                </div>
                <MudText Typo="Typo.h5" Class="mt-4 fw-bold">Other skills</MudText>
                <div class="row" style="padding: 10px;">
                    <MudChip T="string" Icon="@Icons.Material.Filled.Check" IconColor="Color.Success" Style="background-color:#2C3639; color: white; ">2D & 3D Game Dev</MudChip>
                    <MudChip T="string" Icon="@Icons.Material.Filled.Check" IconColor="Color.Success" Style="background-color:#2C3639; color: white; ">Unity Game Dev</MudChip>
                    <MudChip T="string" Icon="@Icons.Material.Filled.Check" IconColor="Color.Success" Style="background-color:#2C3639; color: white; ">Mobile Game Dev</MudChip>
                    <MudChip T="string" Icon="@Icons.Material.Filled.Check" IconColor="Color.Success" Style="background-color:#2C3639; color: white; ">WebGL Game Dev</MudChip>
                    <MudChip T="string" Icon="@Icons.Material.Filled.Check" IconColor="Color.Success" Style="background-color:#2C3639; color: white; ">Desktop Game Dev</MudChip>
                    <MudChip T="string" Icon="@Icons.Material.Filled.Check" IconColor="Color.Success" Style="background-color:#2C3639; color: white; ">Wordpress Design</MudChip>
                    <MudChip T="string" Icon="@Icons.Material.Filled.Check" IconColor="Color.Success" Style="background-color:#2C3639; color: white; ">Free Hand Artwork/Drawing Design</MudChip>
                </div>
            </MudCardContent>
        </MudCard>
    </div>
</section>