@using MudBlazor.Services
@implements IBrowserViewportObserver
@implements IAsyncDisposable 

<header class="top-bar">
    <div class="container">
        <div class="logo">
            <a href="/">Dev.</a>
        </div>
        @if (new[] { Breakpoint.Xs, Breakpoint.Sm }.Contains(updateBreakpoint))
        {
            @*    <MudStack Spacing="2">
                 <MudToggleIconButton @onclick="OnExpandCollapseClick" @bind-Toggled="_expanded"
                                     Icon="@Icons.Material.Filled.Menu"
                                     ToggledIcon="@Icons.Material.Filled.Close"
                                     Style="color: black; font-size: 22px;"
                                     Size="Size.Large" />

            </MudStack> *@
            <MudIcon @onclick="OnExpandCollapseClick" Icon="@Icons.Material.Filled.Menu" Style="color: black; font-size: 22px;" Size="Size.Large" />

        }
        else
        {
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/portfolio" class="active">Experience</a></li>
                    <li><a href="/services">Services</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </nav>
        }

    </div>
</header>

<MudDrawer @bind-Open="@_expanded" Anchor="@_anchor" Elevation="10000" Variant="@DrawerVariant.Temporary" OverlayAutoClose="@_overlayAutoClose">
    <MudDrawerHeader Class="d-flex justify-content-between">
        <MudText Typo="Typo.h6">Menu</MudText>
        <MudIcon @onclick="OnExpandCollapseClick" Icon="@Icons.Material.Filled.Close" Style="color: black; font-size: 22px;" Size="Size.Large" />

    </MudDrawerHeader>
    <MudNavMenu>
        <MudPaper Width="auto" Class="py-3">
            <MudNavMenu Bordered="true">
                <MudNavLink Href="/">Home</MudNavLink>
                <MudNavLink Match="NavLinkMatch.Prefix" Href="/">About</MudNavLink>
                <MudNavLink Href="/" Disabled="true">Experience</MudNavLink>
                <MudNavGroup Title="Services" Expanded="@IsExpandedMenu" @onclick="OnExpandMenu">
                    <MudNavLink Href="/">Web Dev</MudNavLink>
                    <MudNavLink Href="/">Mobile Dev</MudNavLink>
                    <MudNavLink Href="/">Game Dev (Unity)</MudNavLink>
                    <MudNavLink Href="/">Front-End Dev</MudNavLink>
                    <MudNavLink Href="/">Back-End Dev</MudNavLink>
                </MudNavGroup>
                <MudNavLink Href="/">Contact</MudNavLink>
            </MudNavMenu>
        </MudPaper>
    </MudNavMenu>
</MudDrawer>
<MudOverlay @bind-Visible="_expanded" DarkBackground />
@code{
    [Inject]  private IBrowserViewportService BrowserViewportService { get; set; }

    private List<Breakpoint> _breakpointHistory = new();
    private Breakpoint _start;
    private Breakpoint updateBreakpoint;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await BrowserViewportService.SubscribeAsync(this, fireImmediately: true);
        }

        await base.OnAfterRenderAsync(firstRender);
    }

    public async ValueTask DisposeAsync() => await BrowserViewportService.UnsubscribeAsync(this);

    Guid IBrowserViewportObserver.Id { get; } = Guid.NewGuid();

    ResizeOptions IBrowserViewportObserver.ResizeOptions { get; } = new()
        {
            ReportRate = 250,
            NotifyOnBreakpointOnly = true
        };

    Task IBrowserViewportObserver.NotifyBrowserViewportChangeAsync(BrowserViewportEventArgs browserViewportEventArgs)
    {
        if (browserViewportEventArgs.IsImmediate)
        {
            _start = browserViewportEventArgs.Breakpoint;
        }
        else
        {
            _breakpointHistory.Add(browserViewportEventArgs.Breakpoint);
        }
        updateBreakpoint = browserViewportEventArgs.Breakpoint;
        return InvokeAsync(StateHasChanged);
    }

    bool _expanded = false;

    private void OnExpandCollapseClick()
    {
        _expanded = !_expanded;
        if(!_expanded){
            IsExpandedMenu = false;
        }
    }

    private Anchor _anchor = Anchor.Top;
    private bool _overlayAutoClose = true;

    private void OpenDrawer(Anchor anchor)
    {
        _expanded = true;
        _anchor = anchor;
    }

    private bool IsExpandedMenu = false;
    private void OnExpandMenu(){
        IsExpandedMenu = !IsExpandedMenu;
    }
}
<style>
    .glow {
        color: #fff; /* White color for the text */
        text-shadow: 0 0 5px #B1C29E, /* Red glow */
        0 0 10px #B1C29E, /* Stronger red glow */
        0 0 15px #B1C29E, /* Even stronger red glow */
        0 0 20px #B1C29E; /* Strong red glow */
    }

    .mud-icon-button {
        flex: 0 0 auto;
        padding: 12px;
        overflow: visible;
        font-size: 1.5rem;
        text-align: center;
        transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        border-radius: 50%;
        color: white;
    }
 
</style>