@using MudBlazor.Services
@using Leo.Projects.Portfolio.Web.Pages.ComponentPageBase;
@implements IBrowserViewportObserver
@implements IAsyncDisposable  
@inject IJSRuntime JS
@inherits ComponentPageBase
<header class="top-bar">
    <div class="container">
        <div class="logo">
            @* <a href="/">Leo Dev.</a> *@
            <img src="/images/LGdevLogo.png" @onho width="100" style="object-fit: contain;">
        </div>
        @if (new[] { Breakpoint.Xs, Breakpoint.Sm }.Contains(updateBreakpoint))
        {
             <div class="btn-group">

                <MudChip Style="background-color: #A27B5C; color: white" CloseIcon="@Icons.Material.Filled.Download" T="string" Class="mx-5" Disabled="@_processing" OnClick="ProcessSomething" Variant="Variant.Filled">
                    @if (_processing)
                    {
                        <MudText Class="mx-2">Processing</MudText>
                        <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true" />
                    }
                    else
                    {
                        <MudText>Download CV <MudIcon Icon="@Icons.Material.Filled.Download" /></MudText>
                    }
                </MudChip>

                <MudIcon Class="mt-1" @onclick="OnExpandCollapseClick"
                         Icon="@Icons.Material.Filled.Menu"
                         Style="color: black; font-size: 32px;"
                         Size="Size.Large" />
               
             </div>
        }
        else
        {
            <nav>
                <ul class="nav-list">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/portfolio" class="active">Experience</a></li>
                    <li><a href="/services">Services</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li class="chip-item">
                        <MudChip Style="background-color: #A27B5C; color: white"
                                 CloseIcon="@Icons.Material.Filled.Download"
                                 T="string"
                                 Class="mx-5"
                                 Disabled="@_processing"
                                 OnClick="ProcessSomething"
                                 Variant="Variant.Filled">
                            @if (_processing)
                            {
                                <MudText Class="mx-2">Processing</MudText>
                                <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true" />
                            }
                            else
                            {
                                <MudText>Download CV <MudIcon Icon="@Icons.Material.Filled.Download" /></MudText>
                            }
                        </MudChip>
                    </li>
                </ul>
            </nav>

        }

    </div>

    <MudDrawer Style="color: #2C3639; background-color:#DCD7C9;" @bind-Open="@_expanded" Anchor="@_anchor" Elevation="10000" Variant="@DrawerVariant.Temporary" OverlayAutoClose="@_overlayAutoClose">
        <MudDrawerHeader Class="d-flex justify-content-between">
            <MudText Typo="Typo.h6">Menu</MudText>
            <MudIcon @onclick="OnExpandCollapseClick" Icon="@Icons.Material.Filled.Close" Style="color: black; font-size: 32px;" Size="Size.Large" />

        </MudDrawerHeader>
        <MudNavMenu Style="background: #fcf6e3">
            <MudPaper Width="auto" Class="py-3">
                <MudNavMenu Bordered="true" Color="Color.Dark">
                    <MudNavLink Href="/">Home</MudNavLink>
                    <MudNavLink Match="NavLinkMatch.Prefix" Href="#about">About</MudNavLink>
                    <MudNavLink Href="/" Disabled="true">Experience</MudNavLink>
                    <MudNavGroup Title="Services" Expanded="@(_expanded)" @onclick="OnExpandMenu">
                        <MudNavLink OnClick="@OnExpandCollapseClick">Web Dev</MudNavLink>
                        <MudNavLink OnClick="@OnExpandCollapseClick">Mobile Dev</MudNavLink>
                        <MudNavLink OnClick="@OnExpandCollapseClick">Game Dev (Unity)</MudNavLink>
                        <MudNavLink OnClick="@OnExpandCollapseClick">Front-End Dev</MudNavLink>
                        <MudNavLink OnClick="@OnExpandCollapseClick">Back-End Dev</MudNavLink>
                    </MudNavGroup>
                    <MudNavLink Href="/">Contact</MudNavLink>
                </MudNavMenu>
            </MudPaper>
        </MudNavMenu>
    </MudDrawer>
    <MudOverlay @bind-Visible="_expanded" DarkBackground />
</header>
 

@code{
    [Inject]  private IBrowserViewportService BrowserViewportService { get; set; }

    private List<Breakpoint> _breakpointHistory = new();
    private Breakpoint _start;
    private Breakpoint updateBreakpoint;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await BrowserViewportService.SubscribeAsync(this, fireImmediately: true);
        }

        await base.OnAfterRenderAsync(firstRender);
    }

    public async ValueTask DisposeAsync() => await BrowserViewportService.UnsubscribeAsync(this);

    Guid IBrowserViewportObserver.Id { get; } = Guid.NewGuid();

    ResizeOptions IBrowserViewportObserver.ResizeOptions { get; } = new()
        {
            ReportRate = 250,
            NotifyOnBreakpointOnly = true
        };

    Task IBrowserViewportObserver.NotifyBrowserViewportChangeAsync(BrowserViewportEventArgs browserViewportEventArgs)
    {
        if (browserViewportEventArgs.IsImmediate)
        {
            _start = browserViewportEventArgs.Breakpoint;
        }
        else
        {
            _breakpointHistory.Add(browserViewportEventArgs.Breakpoint);
        }
        updateBreakpoint = browserViewportEventArgs.Breakpoint;
        return InvokeAsync(StateHasChanged);
    }

    bool _expanded = false;

    private void OnExpandCollapseClick()
    {
        _expanded = !_expanded;
        if(!_expanded){
            IsExpandedMenu = false;
        }
        StateHasChanged();
    }

    private Anchor _anchor = Anchor.Top;
    private bool _overlayAutoClose = true;

    private void OpenDrawer(Anchor anchor)
    {
        _expanded = true;
        _anchor = anchor;
    }

    private bool IsExpandedMenu = false;
    private void OnExpandMenu(){
        IsExpandedMenu = !IsExpandedMenu;
    }

    private void ExpandedMenuChanged(){
        _expanded = false;
        IsExpandedMenu = false;
        StateHasChanged();
    }

    private bool _processing = false;

    async Task ProcessSomething()
    {
        _processing = true;
        await Task.Delay(1000);
        await JS.InvokeVoidAsync("downloadCv");
        _processing = false;
    }
}
<style>
    .glow {
        color: #fff; /* White color for the text */
        text-shadow: 0 0 5px #B1C29E, /* Red glow */
        0 0 10px #B1C29E, /* Stronger red glow */
        0 0 15px #B1C29E, /* Even stronger red glow */
        0 0 20px #B1C29E; /* Strong red glow */
    }

    .mud-icon-button {
        flex: 0 0 auto;
        padding: 12px;
        overflow: visible;
        font-size: 1.5rem;
        text-align: center;
        transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        border-radius: 50%;
        color: white;
    }

    .mud-navmenu.mud-navmenu-dark .mud-nav-link.active:not(.mud-nav-link-disabled){
        color: #596E79;
        --mud-ripple-color: var(--mud-palette-dark);
        background-color: var(--mud-palette-dark-hover);
        font-size: 16px;
    }
</style>